[submodule "WPThumb"]
	path = WPThumb
	url = git@github.com:humanmade/WPThumb.git
[submodule "hm-accounts/facebook-sdk"]
	path = hm-accounts/facebook-sdk
	url = https://github.com/facebook/php-sdk.git
[submodule "Custom-Metaboxes-and-Fields-for-WordPress"]
	path = Custom-Metaboxes-and-Fields-for-WordPress
	url = git@github.com:humanmade/Custom-Metaboxes-and-Fields-for-WordPress.git
[submodule "tlc-transients"]
	path = tlc-transients
	url = https://github.com/markjaquith/WP-TLC-Transients.git
